.settings-modal {
    z-index: $menu-page-blur-z-index + 2;
    transform: translate(-50%, -50%);
    background: #3A362B;
    position: absolute;
    border: 7px solid;
    display: none;
    left: 50%;
    top: 50%;

    height: 50%;
    width: 50%;

    &--show {
        display: block;
    }

    &__wrapper {
        flex-direction: column;
        overflow: hidden;
        max-height: 100%;
        display: flex;
    }

    &__top {
        border-bottom: 2px solid #000;
        text-align: center;
        padding: 5px 0;
    }

    &__title {
        font-family: "Viruses regular";
        font-size: 30px;
        color: #FFF;
    }
}

.settings-modal-body {
    overflow: auto;
    height: 100%;

    &__block {
        &-title {
            -webkit-text-stroke-color: black;
            -webkit-text-stroke-width: 4px;
            font-family: "Viruses menu";
            padding: 20px 0 0 20px;
            font-size: 40px;
            color: #FFF;
        }
    }
}

.settings-group {
    margin-top: 15px;

    &__item {
        font-family: "Viruses regular";
        justify-content: space-between;
        align-items: center;
        display: flex;
        height: 70px;

        &:not(:nth-child(2n)) {
            background: #2E2B24;
        }

        &-left,
        &-right {
            box-sizing: border-box;
            display: inline-block;
            font-size: 50px;
            width: 50%;
        }

        &-left {
            text-transform: uppercase;
            padding-left: 100px;
            color: #FFF;
        }
    }
}

.settings-slider {
    background: url('../img/menu/bar.png') center center no-repeat;
    position: relative;
    height: 52px;
    width: 315px;

    &__thumb {
        background: url('../img/menu/thumb.png') center center no-repeat;
        position: absolute;
        padding: inherit;
        height: 52px;
        cursor: grab;
        width: 52px;
        // default value
        left: 10px;
    }
}


// scrollbar


::-webkit-scrollbar {
    width: 9px; /* vertical scrollbar height */
    height: 0; /* horizontal scrollbar height */
    background-color: #27241F;
}

::-webkit-scrollbar-thumb {
    background-color: #161613;
    border-radius: 0;
}

/* Arrows */

::-webkit-scrollbar-button:vertical:start:decrement {
    background: linear-gradient(120deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(240deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(0deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
    height: 0;
    width: 0;
}

::-webkit-scrollbar-button:vertical:end:increment {
    background:
        linear-gradient(300deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(60deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(180deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
    height: 0;
    width: 0;
}

::-webkit-scrollbar-button:horizontal:start:decrement {
    background:
        linear-gradient(30deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(150deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(270deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
    height: 0;
    width: 0;
}

::-webkit-scrollbar-button:horizontal:end:increment {
    background:
        linear-gradient(210deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(330deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(90deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
    height: 0;
    width: 0;
}
